/*------------------------------------*\
  #JOB-BOARD
\*------------------------------------*/

/**
 * Job-Board
 */
.al-l-job-board {
  --al-dialog-width: 100%;
  --al-dialog-trigger-width: 100%;
}

/**
 * Job board filter dialog
 */
.al-l-job-board__filter-dialog {
  --al-input-label-background: var(--al-theme-color-background-default);
}

/**
 * Job board card image
 */
.al-l-job-board__card-image {
  border-radius: var(--al-theme-border-radius-lg);
  padding: var(--al-theme-space);
  background-color: var(--al-theme-color-background-primary-stronger);
  color: var(--al-theme-color-content-primary-default);
}