# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
dist
storybook-static
storybook
storybook-components
coverage

# misc
.DS_Store
.DS_S
.env.local
.env.development.local
.env.production.local
.cache
.vscode
.bin

*.log
*.lock
package-lock.json
yarn.lock